@model Printer

<!DOCTYPE html>
<html lang="en">
<body>
    <aside class="sidebar">
        <div class="sidebar-item">
            <span>🖨️ Print Document</span>
        </div>
        <div class="sidebar-item">
            <span>📜 View History</span>
        </div>
        <div class="sidebar-item">
            <span>💵 Buy Paper</span>
        </div>
        <div class="sidebar-item">
            <span>📊 History</span>
        </div>
        <div class="sidebar-item">
            <span>🖨️ Manage Printer</span>
        </div>
    </aside>

    <main class="main-content">
        <div class="card shadow border-0 mt-4">
            <div class="card-header bg-secondary bg-gradient ml-0 py-3">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="text-white py-2">Create Printer</h2>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <form method="post" class="row justify-content-center pb-3">
                    <div class="border p-3 col-12 col-md-8">
                        <div class="form-floating py-2">
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="Model" class="form-control border-0 shadow" />
                            <label asp-for="Model" class="ms-2"></label>
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="SerialNumber" class="form-control border-0 shadow" />
                            <label asp-for="SerialNumber" class="ms-2"></label>
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2">
                            <input asp-for="paperNumber" class="form-control border-0 shadow" />
                            <label asp-for="paperNumber" class="ms-2"></label>
                            <span asp-validation-for="paperNumber" class="text-danger"></span>
                        </div>
                        <div class="row pt-3">
                            <div class="col-6 col-md-4">
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-4">
                                <a asp-area="SPSO" asp-controller="Printer" asp-action="Index" class="btn btn-outline-primary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
</body>
</html>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

