<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Confirmation</title>
    
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="~/img/bklogo1.png" alt="Logo" width="300px">
        </div>
        <div class="message">
            Your document has been printed successfully!
        </div>
        <div class="actions">
                <button><a asp-controller="Home" asp-action="Index" asp-area="Student"> Back to Home</a></button>
        </div>
    </div>
</body>
</html>
